<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApplication2.Properties.Settings.SinemaOtomasyonuConnectionString" connectionString="Data Source=LAB1-08;Initial Catalog=SinemaOtomasyonu;Persist Security Info=True;User ID=sa;Password=123456" providerName="System.Data.SqlClient"/>
        <add name="WindowsFormsApplication2.Properties.Settings.SinemaOtomasyonuConnectionString1" connectionString="Data Source=LAPTOP-5N6217VA;Initial Catalog=SinemaOtomasyonu;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="WindowsFormsApplication2.Properties.Settings.SinemaOtomasyonuConnectionString2" connectionString="Data Source=DESKTOP-RM1KQ9E;Initial Catalog=SinemaOtomasyonu;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
